.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.services-title{
    text-align: center;
    color: rgb(13, 13, 64);
}

/* make services responsive */
@media only screen and (max-width:576px) {
    .services-container{
        grid-template-columns: repeat(1,1fr);
        padding: 5px;
        margin: 10px;
    }
    
}
@media only screen and (min-width:577px) and (max-width:992px ) {
    .services-container{
        grid-template-columns: repeat(2,1fr);
        padding: 5px;
        margin: 10px;
    }
    
}
@media only screen and (min-width:993px)  {
    .services-container{
        grid-template-columns: repeat(3,1fr);
        padding: 5px;
        margin: 10px;
    }
    
}